@model ASPNETWebApp48.ViewModels.QtyOnHandViewModel

@if (User.IsInRole("salesmgr"))
{
    <h3 class="text-center">@ViewBag.Message</h3>
}

@if (User.IsInRole("admin") || User.IsInRole("purchmgr") || User.IsInRole("wrhmgr"))
{
    ViewBag.Title = "Product Inventory - All Location";

    <div class="container-fluid">
        <p class="float-right">
            <a type="button" class="btn btn-danger" href="/Product/QtyOnHandPrint">Inventory Report Pdf</a>
        </p>
        <h2 class="text-center">@ViewBag.Title</h2>
        <div class="table-responsive">
            <table class="table table-hover text-nowrap table-bordered table-sm" id="myTable">
                <thead>
                    <tr>
                        <th class="text-center">Product</th>
                        <th class="text-center">Main Store</th>
                        <th class="text-center">Warehouse</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MergedProducts)
                    {
                        <tr>
                            <td scope="row" class="text-center">@item.Name</td>
                            <td scope="row" class="text-center">@item.StockOnHandMain</td>
                            <td scope="row" class="text-center">@item.StockOnHandWarehouse</td>
                            <td scope="row" class="text-center">@item.TotalStockOnHand</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}