@using System.Globalization
@model List<ASPNETWebApp48.Models.Product>

@if (User.IsInRole("wrhmgr"))
{
    <h3 class="text-center">@ViewBag.Message</h3>
}

@if (User.IsInRole("admin") || User.IsInRole("salesmgr") || User.IsInRole("purchmgr"))
{
    ViewBag.Title = "Manage Product";

    <div class="container-fluid">
        <p class="float-right">
            @Html.Partial("_Create", ViewBag.ForCreatePartial as Dictionary<string, object>)
        </p>
        <h2 class="text-center">@ViewBag.Title</h2>
        <div class="table-responsive">
            <table class="table table-hover text-nowrap table-bordered table-sm" id="myTable">
                <thead>
                    <tr>
                        <th class="text-center">Product Name</th>
                        <th class="text-center">Brand</th>
                        <th class="text-center">SKU</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Unit</th>
                        <th class="text-center">Purchase Price</th>
                        <th class="text-center">Selling Price</th>
                        <th class="text-center">Min Qty</th>
                        <th class="text-center">Ceiling Qty</th>
                        <th class="text-center">Photo</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        CultureInfo culture = new CultureInfo("en-PH");
                        <tr>
                            <td class="text-center" title="Description: @product.Name">@product.Name</td>
                            <td class="text-center">@product.Brand.Name</td>
                            <td class="text-center">@product.SKU</td>
                            <td class="text-center">@product.Category.Name</td>
                            <td class="text-center">@product.Unit</td>
                            <td class="text-center">@product.PurchasePrice.ToString("C", culture)</td>
                            <td class="text-center">@product.SellingPrice.ToString("C", culture)</td>
                            <td class="text-center">@product.MinQty</td>
                            <td class="text-center">@product.CeilingQty</td>
                            <td class="text-center">
                                @if (!string.IsNullOrEmpty(product.PictureFilename))
                                {
                                    <img src="/uploadedimages/thumb/@product.PictureFilename" class="img-rounded" />
                                }
                            </td>
                            <td class="text-center">
                                <a href="/Product/Edit/@product.Id" class="btn btn-warning btn-sm">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}