@model ASPNETWebApp48.Models.PurchaseReturn

@if (User.IsInRole("wrhmgr") || User.IsInRole("salesmgr") || User.IsInRole("purchmgr"))
{
    <h3 class="text-center">@ViewBag.Message</h3>
}

@if (User.IsInRole("admin"))
{
    ViewBag.Title = "PO Return Detail | " + Model.Supplier.Name ;

    <div class="main-panel">
        <div class="content-wrapper">
            <center>
                <br />
                <h3>JIMAR CONSTRUCTION SUPPLY CO., LTD.</h3>
                111-113 Gomez St. Cagayan De Oro City<br />
                Tel. Nos. (08822) 72-60-25, 72-31-44, 72-32-96 Fax 72-38-84
                <br /><br /><h3>Purchase Return Detail</h3>
                <p>
                    <hr />Return # : @Model.Id
                    <hr />Supplier : @Model.Supplier.Name
                    <hr />Return Date : @Model.ReturnDate.ToString("yyyy-MM-dd")
                    <hr />Reason : @Model.Reason<hr />
                </p>
                <a href="/PurchaseReturn/Print/@Model.Id"><input type="button" class="btn btn-info btn-lg" value="Print"></a>&nbsp;
                <a href="/PurchaseReturn/Send/@Model.Id" class="btn btn-lg btn-warning no-print">Send Email</a>&nbsp;
                <a href="/PurchaseReturn/ManageApproval"><input type="button" class="btn btn-secondary btn-lg" value="Back to Manage"></a>
            </center>
        </div>
    </div>
}