@model Dictionary<string, object>

<button type="button" id="btnAddModal1" class="btn btn-primary btn-circle btn-lg" data-toggle="modal" data-target="#addModal">+</button>

<!-- Modal -->
<div class="modal fade" id="addModal" data-backdrop="static" data-keyboard="false" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form action="/Purchase/Create" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Purchase</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <!-- Text input-->
                    @*<div class="form-group row">
                        <label for="PurchaseNo" class="col-md-4 col-form-label">Purchase No</label>
                        <div class="col-md-8">
                            <input type="text" id="PurchaseNo" name="PurchaseNo" value="PO-" class="form-control" pattern="^PO-[A-Z0-9]+$" title="Please enter a value starting with PO- followed by uppercase letters and numbers" required>
                        </div>
                    </div>*@
                    <div class="form-group">
                        @*<select id="SupplierId" name="SupplierId" class="form-control text-center" autofocus required>
                            <option value="" selected disabled>Select Supplier</option>
                            @foreach (var supplier in Model["SupplierLookup"] as List<ProductSupplier>)
                            {
                                <option value="@supplier.Id">@supplier.Name</option>
                            }
                        </select>*@
                        <select id="SupplierId" name="SupplierId" class="form-control text-center" autofocus required>
                            <option value="" selected disabled>Select Supplier</option>
                            @if (ViewBag.SupplierLookup != null)
                            {
                                foreach (var supplier in ViewBag.SupplierLookup as List<Supplier>)
                                {
                                    <option value="@supplier.Id">@supplier.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label for="OrderDate" class="col-md-4 col-form-label">Order Date</label>
                        <div class="col-md-8">
                            <input type="text" id="OrderDate" name="OrderDate" value="@ViewBag.OrderDate.ToString("yyyy-MM-dd")" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/Content/Util/slimselect.min.css" />
<script type="module">
    import SlimSelect from '/Scripts/Util/slimselect.es.min.js'
    new SlimSelect({
        select: '#SupplierId',
        settings: { searchPlaceholder: 'Search for the Supplier!' }
    });
</script>

<style>
    select[required] {
        display: block !important;
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
    }
</style>